#header
  align left
  width 225px /* 240 - padding-left */
  right 240px
  margin-left -240px
  min-height 100%
  float left
  color #000
  a
    color #888
    width 10em
    &:hover
      text-shadow 0 0 0.3em #8dc63f
      text-decoration none
  img
    margin-top 30px

  h1
    font-family "Josefin Sans"
    font-weight normal
    font-size 2.5em
    line-height 1
    padding-top 5px
    color #8dc63f

  h2
    font-family "Josefin Sans"
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 0
    margin-bottom 20px
    
  #main-nav
    width 84.5%
    position relative
    display block
    font-family font-title
    line-height 2em
    font-size 1.2em
    font-weight 100
    float left
    list-style none
    a
      width 88%
      position relative
      display block
      padding 5px 0 5px 60px
      text-shadow none
      &:hover 
        border-top 1px solid rgb(221,221,221)
        border-bottom 1px solid rgb(221,221,221)
        background-color rgba(255,255,255,1)
        margin -1px 0
    .actived_nav
      width 88%
      display block
      padding 5px 0 5px 60px
      color #fff
      background-color #bbb
      background-image url('/img/line45.png')
      box-shadow -2px 0 8px #bbb
    .sub-level
      background-color rgba(150,150,150,0.1)
      list-style-type none
      padding-bottom 10px
      width 118.5%
      border-right 1px solid rgb(221,221,221)
      box-shadow inset 3px 0 8px rgb(200,200,200)
      background-image url('/img/line45.png')
      a
        font-size 0.8em
        padding-left 80px
        line-height 1em
        color #999
        width 63%
        &:hover
          text-shadow none
          background-color rgba(255,255,255,0.6)
       a.tarball
         &:hover
           border-right 5px solid #d8a048
       a.windows
         &:hover
           border-right 5px solid #11B9F5
       a.ubuntu
         &:hover
           border-right 5px solid #f47421
       a.opensuse
         &:hover
           border-right 5px solid #AAD33F
       a.fedora
         &:hover
           border-right 5px solid #294172
       a.arch
         &:hover
           border-right 5px solid #1793D1
       a.chakra
         &:hover
           border-right 5px solid #568EDF
       a.freebsd
         &:hover
           border-right 5px solid #E01C02
       a.os2
         &:hover
           border-right 5px solid #181415
        

#nav-logo
  text-align center