#header
  padding-left 30px
  background-color #3d464f
  width: 210px /* 240 - padding-left */
  right: 240px
  height: 100%
  margin-left: -240px
  float: left
  color #bbb
  a
    color #bbb
    width 10em
    &:hover
      color #fff
      text-shadow 0 0 0.3em #fff, 0 0 0.1em #fff
      text-decoration none
  img
    margin-top 30px

  h1
    font-weight normal
    font-size 2.5em
    line-height 1
    margin-top 10px

  h2
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 10px
    margin-bottom 20px
    
  #main-nav
    margin-left -30px
    display block
    font-family font-title
    line-height 2em
    font-size 1.2em
    font-weight 100
    ul
      float left
      list-style none
      a
        text-shadow none
        &:hover 
          text-shadow 0 0 0.3em #fff, 0 0 0.1em #fff
    li
      float left
      margin -5px 0px
      padding-left 60px
    .actived_nav
      color #fff
      background-color #657483