#header
  padding-left 30px
  background-color #3d464f
  width: 210px /* 240 - padding-left */
  right: 240px
  margin-left: -240px
  min-height: 100%
  float: left
  color #bbb
  a
    color #bbb
    width 10em
    &:hover
      color #fff
      text-shadow 0 0 0.3em #fff, 0 0 0.1em #fff
      text-decoration none
  img
    margin-top 30px

  h1
    font-weight normal
    font-size 2.5em
    line-height 1
    margin-top 10px

  h2
    font-weight normal
    font-size 0.8em
    line-height 1
    margin-top 10px
    margin-bottom 20px
    
  #main-nav
    position relative
    margin-left -30px
    display block
    font-family font-title
    line-height 2em
    font-size 1.2em
    font-weight 100
    float left
    list-style none
    a
      position relative
      display block
      padding 5px 0 5px 60px
      text-shadow none
      &:hover 
        text-shadow 0 0 0.3em #fff, 0 0 0.1em #fff
    .actived_nav
      display block
      padding 5px 0 5px 60px
      color #fff
      background-color #657483