*
  margin 0
  padding 0

body
  height 100%
  background url("/img/bg1.jpg") no-repeat scroll left top,url("/img/bg2.png") repeat-y scroll left top
  color color-font
  font-family font-default
  font-size 14px
  text-shadow 0 0 1px transparent

h1, h2, h3, h4, h5, h6
  font-family font-title

h1
  font-size 1.8em

h2
  font-size 1.5em

h3
  font-size 1.3em

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width page-width
  margin-left -12px

html
  height 100%

#container
  min-height 90%
  min-width 500px
  padding-left: 240px
  padding-right: 270px

#content
  float left
  width 100%

#main-col
  width 98%

.ribbon-container
  position absolute
  width 250px
  height 250px
  right 0px
  top 0px
  overflow: hidden

.ribbon a
  z-index 500
  position absolute
  width 250px
  background-color #a00
  color #fff
  right -70px
  top 50px
  transform rotate(45deg)
  text-align center
  font bold 1em Arial, sans-serif
  padding 0.4em
  border 1px dashed #faa
  box-shadow 0 0 0 2px #a00,0 0 5px 3px rgba(50,50,50,50)
  text-shadow 0 0 2px #333
  &:hover 
    transition-property text-shadow, background-color, box-shadow
    transition-delay 0s
    transition-duration 0.3s
    text-shadow 0 0 2px #fff,0 0 5px #fff
    background-color #B80A0A
    text-decoration none
    box-shadow 0 0 0 2px #a00, 0 0 15px #fff
    color #fff

.distro
  margin-top 30px
  .logo
    float left
    width 96px

  img
    border-radius 42px
    box-shadow 1px 1px 2px rgba(50,50,50,0.5)
    margin-bottom 10px

  .content
    margin-left 120px
    display block
    h2
      margin-top 0
