<div id="nav-logo">
  <a href="<%- config.root %>"><img src="/img/logo_256.png">
  <h1><%= config.title %></h1>
  <h2><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2></a>
</div>
<nav id="main-nav">
    <% var canonical_path = function(p) {
         var result = p.replace(/\/index\.html$/g, ""); // no trailing index.html
         result = result.replace(/\/$/g, ""); // no trailing /
         result = result.replace("//", "/"); // no consecutive /
         return result;
       }

       var download_submenu_class = "sublevel";
       if (canonical_path(config.root + path) == "/downloads.html")
         download_submenu_class = "sublevel-active"; 

       var generate_menuitem = function(url, link_text, is_current) {
         var html = '<div class="menuitem">';
         if (is_current)
           html += '<span class="actived_nav">' + link_text + '</span>';
         else
           html += '<a href="' + url + '">' + link_text + '</a>';
         if (url == "/downloads.html") {
            html += '<div class="' + download_submenu_class + '">';
            html += '<a class="tarball" href="/downloads.html#tarball">Source Code</a>';
            html += '<a class="windows" href="/downloads.html#windows">Windows</a>';
            html += '<a class="ubuntu" href="/downloads.html#ubuntu">Ubuntu/Mint</a>';
            html += '<a class="opensuse" href="/downloads.html#opensuse">openSUSE</a>';
            html += '<a class="fedora" href="/downloads.html#fedora">Fedora</a>';
            html += '<a class="arch" href="/downloads.html#arch">Arch</a>';
            html += '<a class="chakra" href="/downloads.html#chakra">Chakra</a>';
            html += '<a class="freebsd" href="/downloads.html#freebsd">FreeBSD</a>';
            html += '<a class="os2" href="/downloads.html#os2">OS/2</a>';
            html += '</div>';
         }
         html += '</div>';
         return html;
       };
    %>
    <% for (var i in theme.menu) { %>
      <% var is_current = (canonical_path(theme.menu[i]) == canonical_path(config.root + path)); %>
      <%- generate_menuitem(theme.menu[i], i, is_current) %>
    <% } %>
</nav>
