<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>

<link rel="stylesheet" href="/css/opentip.css" media="screen" type="text/css">
<script src="/js/opentip-native.min.js"></script>

<div data-ot="Subscribe for update notification!" data-ot-show-on="mouseover">
  <a href=/atom.xml>
    <img src="/img/rss.png" width=64px></img>
  </a>
</div>

